In [1]:
import streamlit as st 
import pandas as pd

df = pd.read_excel('./GL.xlsx')
print(df.head())

    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3    Unnamed: 4  \
0          NaN        NaN        NaN        NaN           NaN
1  Period Name     Region    Country      State  Legal Entity
2       Jan-24       AMER         BR        NaN         00111
3       Jan-24       AMER         BR        NaN         00111
4       Jan-24       AMER         BR        NaN         00111

                                          Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0                                                NaN        NaN        NaN
1                                  Legal Entity Name         BU    BU Name
2  Equinix do Brasil Soluções de Tecnologia em In...        000   BU Other
3  Equinix do Brasil Soluções de Tecnologia em In...        000   BU Other
4  Equinix do Brasil Soluções de Tecnologia em In...        000   BU Other

  Unnamed: 8     Unnamed: 9  ... Unnamed: 63 Unnamed: 64 Unnamed: 65  \
0        NaN            NaN  ...         NaN         NaN         NaN
1   Location  Location Name  ...         NaN         NaN         NaN
2       0201  SP3 Sao Paulo  ...         NaN         NaN         NaN
3       0201  SP3 Sao Paulo  ...         NaN         NaN         NaN
4       0201  SP3 Sao Paulo  ...         NaN         NaN         NaN

  Unnamed: 66 Unnamed: 67 Unnamed: 68 Unnamed: 69 Unnamed: 70 Unnamed: 71  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN      Jan-24         Jan
3         NaN         NaN         NaN         NaN      Feb-24         Feb
4         NaN         NaN         NaN         NaN      Mar-24         Mar

  Unnamed: 72
0         NaN
1         NaN
2         1.0
3         2.0
4         3.0

[5 rows x 73 columns]

In [7]:
df.columns=df.iloc[1].to_list()
df=df.dropna()
df.head()

Empty DataFrame
Columns: [Period Name, Region, Country, State, Legal Entity, Legal Entity Name, BU, BU Name, Location, Location Name, IBX, Cost Center, Cost Center Name, Parent Cost Center, Account, Account Description, Intercompany, Product, Future1, Account Distribution, Ledger Name, Je Header ID, Je Line Num, Journal Source, Journal Category, Journal Name, Accounting Date, GL Posted Date, Batch Name, Batch Created By, Journal Line Description, FAH Event Type, FAH Line Desc, Transactional Currency Code, Functional Currency Code, Entered Dr, Entered Cr, Transactional Net, Accounted Dr, Accounted Cr, Functional Net, EBS Transaction Number, EBS Party Number, EBS Party Name, Sales Order Number, PO Category, PO Number, PO Line, PO Line Description, Commodity Code, Purpose Of Purchase, Project Reference, Parent Name, Journal Posted By, Customer Reference 1, Customer Reference 3, Asset Number, Asset Category, Asset Location, Asset Description, UUID, Source File Name, EBS Journal Line Description, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
Index: []

[0 rows x 73 columns]